/*Fundo*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background:#0c192c;
}
.container{
  position:relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bolha{
  position: relative;
  display: flex;
}
.bolha span{
  position: relative;
  width: 30px;
  height: 30px;
  background:#00ffcc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow:0 0 0 10px #00ffcc2d,
  0 0 50px #00FFCB,
  0 0 100px #00FFCB;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s /var(--i));
}
.bolha span:nth-child(even){
  background:#ff011a;
  box-shadow:0 0 0 10px #c7192a2d,
  0 0 50px #ff011a,
  0 0 100px #ff011a;
  animation: animate 15s linear infinite;
  animation-duration: calc(170s /var(--i));
}
@keyFrames animate{
  0%{
    transform: translateY(100vh) scale(0); 
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}

/*Botão*/
html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  